*.exe
*.zip
*.mp4
Recordings/
Practice/
Solved/
Utils/
TC/
.cph
.vscode
*.class
*.bin
*00dR.cpp
My
temp*
Sheet
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# temp
temp.*
a.cpp